body {
    background-color: #2B421F;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

form {
    background-color: #fff;
    max-width: 600px; /* Augmentation de la largeur du formulaire */
    margin: 50px auto;
    padding: 40px 30px; /* Ajout de padding pour plus d'espace */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px; /* Bordures arrondies pour le formulaire */
}

h1 {
    color: #04AA6D; /* Couleur du titre */
    margin-bottom: 20px; /* Espacement en dessous du titre */
}

.form-control {
    text-align: left;
    margin-bottom: 30px; /* Augmentation de l'espacement entre les sections */
}

.form-control label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold; /* Mettre en gras les labels */
}

.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 5px; /* Bordures plus arrondies */
    font-family: inherit;
    padding: 12px; /* Padding ajusté pour les champs de saisie */
    display: block;
    width: 100%; /* Utilisation de toute la largeur */
    box-sizing: border-box; /* Inclure padding et bordure dans la largeur totale */
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px; /* Espacement entre le bouton et le label */
}

.input_formulaire {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligne le contenu vers le haut */
}

.div_oui_non {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Utilise l'espace disponible */
    padding: 15px 0; /* Espacement vertical pour les options */
}

.div_oui_non label {
    margin: 0 10px; /* Espacement entre les options */
}

.div_submit {
    text-align: center;
    margin-top: 30px; /* Espacement supérieur pour le bouton de soumission */
}

.div_submit button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 30px; /* Padding ajusté */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; /* Taille de police agrandie */
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border-radius: 10px; /* Bordures arrondies */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Ombre plus douce */
    transition: background-color 0.3s, transform 0.2s; /* Transition améliorée */
}

.div_submit button:hover {
    background-color: #029657;
    transform: translateY(-3px); /* Élève légèrement le bouton au survol */
}

.div_submit button:active {
    background-color: #027a45;
    transform: translateY(0); /* Remet le bouton à sa position initiale */
}

.text_question {
    text-align: left; 
    margin: 10px 0; 
    font-weight: bold; 
}

.logo{
    position: absolute;
  width: 60px;
  height: 60px;
  padding: 1px 16px;
  margin-top: -10px;
  text-decoration: none;
  display: block;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.logo:hover{
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }

  @keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
	60% {
		-webkit-transform: translateY(-7px);
		-ms-transform:     translateY(-7px);
		transform:         translateY(-7px)
	}
}